* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.write-box,
.list-box {
  background: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.write-box input,
.write-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.write-box textarea {
  height: 120px;
  resize: none;
}

.write-box button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.write-box button:hover {
  background-color: #43a047;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}
.btn-delete {
  background-color: rgb(17, 184, 67);
  color: #000000;
  padding: 0 2px;
}

.page-btn {
  min-width: 36px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: all 0.2s ease;
}

.page-btn:hover {
  background-color: #f0f0f0;
}

.page-btn.active {
  background-color: #2469e9;
  color: #fff;
  border-color: #4783dd;
  font-weight: bold;
}

.page-btn.prev,
.page-btn.next {
  font-size: 16px;
  font-weight: bold;
}
